html,body,.ant-menu-title-content {
    font-family: "CircularStdBook" , sans-serif !important;
}
.ant-table-wrapper .ant-table {
    font-size: 12px;
    font-family: "CircularStdBook" , sans-serif !important;
}